<div class="w-full" data-controller="google-prettify">
  <div class="flex justify-between">
    <%= link_to articles_path do%>
      <%= image_tag "icons/back.svg"%>
    <% end %>
    <% if  current_user && current_user.role === "admin" %>
      <%= link_to edit_article_path(id: params[:id]) do%>
        <%= image_tag "icons/edit.svg"%>
      <% end %>
    <% end %>
  </div>
  <div>
    <h1>
      <%= @article.title%>
    </h1>
    <div class="relative">
      <%= @article.content%>
    </div>
  </div>
</div>